.form {
  height: 50%;
  display: flex;
  align-items: flex-start;
}

.searchBar {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.searchInput {
  width: 23vw;
  outline: none;
  line-height: 35px;
  font-size: 1rem;
  background-color: white;
  transition: background-color 200ms;
}

.searchInput:focus {
  background-color: whitesmoke;
}

.searchButton {
  background-color: #d32323;
  height: 40px;
  width: 60px;
  border-radius: 0 5px 5px 0;
  position: relative;
  transition: background-color 200ms;
}
.searchButton:hover {
  cursor: pointer;
  background-color: #dc4f4f;
}

.searchParams {
  padding: 3px 2%;
  /* background-color: #f7f7f5; */
  height: 100%;
  display: flex;
  align-items: center;
}

.searchParams h2 {
  font-weight: 900;
  color: #8a8a8a;
}
