.main {
  height: 80vh;
  width: 100%;
  border: 1px solid black; /* for debugging*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linkIcon {
  display: flex;
  align-items: flex-end;
  height: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 45px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 5px 20px;
  justify-content: center;
}

.github {
  margin-top: 0.5%;
}

.header {
  height: 150px;
  width: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 20px;
}

.test {
  height: 300px;
  width: 300px;
}
