.main {
  height: 80vh;
  width: 100%;
  border: 1px solid black; /* for debugging*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige; /*placeholder - change to random image*/
}

.linkIcon {
  display: flex;
  align-items: flex-end;
  height: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 45px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 5px 20px;
  justify-content: center;
}

.github {
  margin-top: 0.5%;
}

.header {
  margin: 50px;
}
