.main {
  height: calc(100vh - 45px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_foreground {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkIcon {
  display: flex;
  align-items: flex-end;
  height: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 45px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 5px 20px;
  justify-content: center;
}

.github {
  margin-top: 0.5%;
}

.header {
  height: 150px;
  width: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 20px;
}

.test {
  height: 300px;
  width: 300px;
}
