.page_container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_picture {
  height: 342px;
  width: 382px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 100px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 245);
}

.form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formDiv h1 {
  color: #d32323;
  font-weight: bold;
  font-size: 1.5rem;
}

.errors {
  color: red;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
}

.labelDiv {
  width: 30%;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 10px 30%;
  height: 40px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.input {
  /* input divs */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 10px 20%;
  height: 30px;
}

.button {
  width: 15vw;
  border-radius: 3px;
  align-self: center;
  margin-top: 20px;
  padding: 10px 5px;
  font-weight: bold;
  color: white;
  transition: background-color, 500ms;
  background-color: #d32323;
  text-align: center;
}

.button:hover {
  background-color: #dc4f4f;
  cursor: pointer;
}
