.main {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 3%;
}

.content {
  height: 200px;
  width: 50vw;
}

.title {
  font-size: 4rem;
  font-weight: 900;
}
