.formDiv {
  height: 70vh;
  width: 100%;
}

.reviewForm {
  padding: 30px;
}

/* debug */
/* h2 {
    margin-bottom: 30px;
    font-weight: 900;
} */

textarea {
  height: 80vh;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding: 10px;
}
