.header {
  margin: 50px;
  text-align: center;
}

.errors {
  color: red;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors li {
  padding: 5px 0;
}

.input:focus {
  outline: none;
  background-color: rgb(228, 228, 228);
}
.input {
  /* input divs */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 10px 30%;
  height: 40px;
  padding: 20px;
  text-align: center;
}

.submitButton,
.demo {
  background-color: rgb(255, 109, 109);
  width: 15vw;
  border-radius: 3px;
  align-self: center;
  margin: 20px 0;
}

.submitButton:hover,
.demo:hover {
  background-color: red;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(247, 247, 245);
  height: 70vh;
  width: 50vw;
  margin-top: 5%;
  padding: 5%;
}

.loginDiv {
  display: flex;
  justify-content: center;
}

.loginLink {
  padding: 0 20px;
  color: rgb(255, 109, 109);
  text-underline-offset: 5px;
}

.loginLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
