ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.review, .loginSignup {
    padding: 10px 20px;
}

.signup {
    margin-left: 20px;
}