nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #d32323;
  color: white;
}

.reviewBusinesses,
.loginSignup,
.home,
.functionButtons {
  height: 45px;
  display: flex;
  align-items: center;
}

.loginSignup {
  margin-right: 20px;
  color: white;
}

.reviewBusinesses {
  position: absolute;
  left: 2%;
}

.signup {
  margin-left: 20px;
  transition: background-color 200ms;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: 500;
}

.signup:hover {
  text-decoration: none;
  background-color: rgb(255, 109, 109);
}

button,
NavLink {
  font-size: 1rem;
}

.createBusiness {
  margin-right: 70px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 200ms;
}

.createBusiness:hover {
  background-color: rgb(255, 109, 109);
}

.functionButtons {
  position: absolute;
  right: 0;
  display: flex;
}

.home {
  position: relative;
  margin: 0 auto;
}

.home:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.homeDiv {
  height: 45px;
  width: 97px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
