nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #d32323;
    color: white;
}

.reviewBusinesses, .loginSignup, .home, .functionButtons {
    height: 45px;
    display: flex;
    align-items: center;
}

.loginSignup {
    margin-right: 20px;
    color: white;
}

.reviewBusinesses {
    position: absolute;
    left: 2%;
}

.signup {
    margin-left: 20px;
}

.signup:hover {
    text-decoration: none;
    background-color: rgb(255, 109, 109);;
}

button, NavLink {
    font-size: 1rem;
}

.signup {
    padding: 5px;
    border: 1px solid red;
    border-radius: 10%;
}

.createBusiness {
    padding-right: 70px;
}

.functionButtons {
    position: absolute;
    right: 0;
    display: flex;
}

.home {
    position: relative;
    margin: 0 auto;
}