.icon {
  color: white;
  font-size: 1.5rem;
  transition: color 200ms;
}

.icon:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.profileButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  list-style: none;
}

.dropdown {
  transform: translate(0, 30px);
  color: black;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown li {
  padding: 5px;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  margin: 5px;
  background-color: #d32323;
  border-radius: 3px;
  align-content: center;
  padding: 5px 10px;
}

.button:hover {
  background-color: #dc4f4f;
}
